<a href="https://colab.research.google.com/github/21pa1a6135/Experiment3/blob/main/Experiment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"Roll No":["CSE501","CSE502","CSE503"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH
2  CSE503   B.SUBBU

In [ ]:
import pandas as pd

data = pd.read_csv("/content/students_placement_data.csv")

df = pd.DataFrame(data)

df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [ ]:
import pandas as pd

data = pd.read_csv("/content/students_placement_data.csv")

df = pd.DataFrame(data)
print(df.describe())

          Roll No  SSC Percentage  inter_Diploma_percentage  \
count  117.000000      116.000000                117.000000
mean    59.000000       80.474569                 80.772906
std     33.919021        8.836079                 11.267248
min      1.000000       47.800000                 52.200000
25%     30.000000       76.622500                 73.400000
50%     59.000000       82.745000                 83.600000
75%     88.000000       87.025000                 90.000000
max    117.000000       93.660000                 96.900000

       B.Tech_percentage    Backlogs
count         117.000000  117.000000
mean           62.943419    4.111111
std            12.064306    6.335148
min            31.200000    0.000000
25%            54.180000    0.000000
50%            64.360000    0.000000
75%            72.570000    7.000000
max            88.100000   25.000000

In [ ]:
import pandas as pd

df = pd.read_csv("/content/students_placement_data.csv")

df_series=df['SSC Percentage']
df_series.mean()

80.47456896551722

In [ ]:
pearson_corr = df.corr().loc["SSC Percentage","inter_Diploma_percentage"]

In [ ]:
pearson_corr = df.corr().loc["SSC Percentage","B.Tech_percentage"]

In [ ]:
pearson_corr

0.6255859902805475

In [ ]:
pearson_corr

-0.4045591913066454

In [ ]:
pearson_corr = df.corr().loc["SSC Percentage","Backlogs"]

In [ ]:
pearson_corr

0.6255859902805481